html,body {
	background-color: #75d7cc;
	width: 100%;
	height: 100%;
}

.start-screen{
	position: absolute;
	left:15%;
	top:10%;
}
#title{
	font-family: sans-serif;
	font-size: 4em;
	color: #ffffff;
	width: 100%;
}

button{
	color: white;
	background-color: #ff3557;
	border:none;
	font-family: sans-serif;
	font-size: 22px;
	border-radius: 50px;
	width:150px;
	height:50px;
	position: relative;
	left: 40%;
	
}

.game{
	width:100%;
	height:600px;
	display:none;
	position: relative;
}

#snowman-body {
	width:250px;
	height:220px;
	position: absolute;
	left:0;
	top:33%;
}

#snowman-head {
	width:170px;
	height:150px;
	position: absolute;
	top: 5%;
}

#snowman-left-eye {
	width:30px;
	height:20px;
	position: absolute;
	top:10%;
	left: 16%
}

#snowman-right-eye{
	width:30px;
	height:20px;
	position: absolute;
	top:36%;
	left:23%;
}

#snowman-scarf {
	width:180px;
	height:180px;
	position: absolute;
	top:13%;
	left: 20%;

}

#snowman-nose {
	width:95px;
	height:25px;
	position: absolute;
	top: 27%;
	left:16%;

}

#snowman-hat {
	width:180px;
	height:150px;
	position: absolute;
	top: 50%;
	left: 21%;
}